[submodule "contrib/py-ndn"]
	path = contrib/py-ndn
	url = git://github.com/cawka/py-ndn.git
[submodule "contrib/dnspython"]
	path = contrib/dnspython
	url = git://github.com/cawka/dnspython.git
[submodule "contrib/py-setproctitle"]
	path = contrib/py-setproctitle
	url = git://github.com/dvarrazzo/py-setproctitle.git
[submodule "contrib/docs"]
	path = contrib/docs
    url = git://github.com/cawka/ndns.git
